body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 23px;
  padding-top: 42px;
}
#block5 {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  gap: 23px;
}
@media (max-width: 2560px) {
  #block1 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
  #block1 {
    /* max-width: 1152px; */
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 3 / 1;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .block2 {
    /* max-width: 1152px; */
  }
  .whiteSquare {
    grid-area: 2 / 2 / 1 / 4;
  }
  .flower {
    width: 24.77vw;
    height: 24.3vw;
  }
  .square1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .glyphRow {
    width: 4.92vw;
    height: 33.438vw;
  }
  .square2 {
    grid-area: 3 /3 / 2 / 3;
  }
  .planet {
    width: 14.3vw;
    height: 13.828vw;
  }
  #block2 {
    width: 90vw;
    height: 27vw;
  }
  .name {
    font-size: 15vw;
    width: 78vw;
    height: 20vw;
    margin-top: 5%;
  }
  .rectangle1 {
    width: 30vw;
    height: 7vw;
    top: 50%;
    left: 15%;
  }
  .rectangle2 {
    width: 17vw;
    height: 11vw;
  }
}
@media (max-width: 1280px) {
  #block1 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
  #block1 {
    max-width: 1152px;
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 3 / 1;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .block2 {
    max-width: 1152px;
  }
  .whiteSquare {
    grid-area: 2 / 2 / 1 / 4;
  }
  .flower {
    width: 24.77vw;
    height: 24.3vw;
  }
  .square1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .glyphRow {
    width: 4.92vw;
    height: 33.438vw;
  }
  .square2 {
    grid-area: 3 /3 / 2 / 3;
  }
  .planet {
    width: 14.3vw;
    height: 13.828vw;
  }
  #block2 {
    width: 90vw;
    height: 27vw;
  }
  .name {
    font-size: 15vw;
    width: 78vw;
    height: 20vw;
    margin-top: 5%;
  }
  .rectangle1 {
    width: 30vw;
    height: 7vw;
    top: 50%;
    left: 15%;
  }
  .rectangle2 {
    width: 17vw;
    height: 11vw;
  }
  #block3 {
    display: grid;
    grid-template-columns: 47vw 53vw;
    grid-template-rows: 67vw 47vw;
    gap: 23px;
    justify-items: center;
  }
  .square3 {
    width: 100%;
    height: 100%;
    grid-area: 1 /1 / 2 / 1;
  }
}

@media (max-width: 768px) {
  #block1 {
    display: grid;
    grid-template-columns: 33vw 53vw;
    grid-template-rows: 90vw 90vw 45vw;
    gap: 23px;
    justify-items: center;
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .moon {
    width: 60.41vw;
    height: 65vw;
    min-height: 241px;
    min-width: 224px;
  }
  .whiteSquare {
    grid-area: 2 / 1/ 2 / 3;
  }
  .flower {
    width: 59vw;
    height: 58vw;
  }
  .square1 {
    grid-area: 3 / 1 / 3 / 1;
  }
  .glyphRow {
    width: 11vw;
    height: 80vw;
  }
  .square2 {
    grid-area: 3 /2 / 3 / 2;
  }
  .planet {
    width: 34.37vw;
    height: 33.3vw;
  }
  #block3 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
}
