body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 23px;
  padding-top: 42px;
}

#block3 {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  gap: 23px;
}
#block5 {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  gap: 23px;
}
@media (max-width: 2560px) {
  #block1 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
  #block1 {
    /* max-width: 1152px; */
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 3 / 1;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .block2 {
    /* max-width: 1152px; */
  }
  .whiteSquare {
    grid-area: 2 / 2 / 1 / 4;
  }
  .flower {
    width: 24.77vw;
    height: 24.3vw;
  }
  .square1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .glyphRow {
    width: 4.92vw;
    height: 33.438vw;
  }
  .square2 {
    grid-area: 3 /3 / 2 / 3;
  }
  .planet {
    width: 14.3vw;
    height: 13.828vw;
  }
}
@media (max-width: 1280px) {
  #block1 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
  #block1 {
    max-width: 1152px;
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 3 / 1;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .block2 {
    max-width: 1152px;
  }
  .whiteSquare {
    grid-area: 2 / 2 / 1 / 4;
  }
  .flower {
    width: 24.77vw;
    height: 24.3vw;
  }
  .square1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .glyphRow {
    width: 4.92vw;
    height: 33.438vw;
  }
  .square2 {
    grid-area: 3 /3 / 2 / 3;
  }
  .planet {
    width: 14.3vw;
    height: 13.828vw;
  }
}

@media (max-width: 768px) {
  .glyph1 {
    width: 90.7vw;
    height: 104.56vw;
  }
  .moon {
    width: 60.41vw;
    height: 65vw;
    min-height: 241px;
    min-width: 224px;
    top: 30%;
    left: 30%;
  }
}
