@media (max-width: 2560px) {
  #block1 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
  #block1 {
    /* max-width: 1152px; */
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 3 / 1;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .block2 {
    /* max-width: 1152px; */
  }
  .whiteSquare {
    grid-area: 2 / 2 / 1 / 4;
  }
  .flower {
    width: 24.77vw;
    height: 24.3vw;
  }
  .square1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .glyphRow {
    width: 4.92vw;
    height: 33.438vw;
  }
  .square2 {
    grid-area: 3 /3 / 2 / 3;
  }
  .planet {
    width: 14.3vw;
    height: 13.828vw;
  }
  #block2 {
    width: 90vw;
    height: 27vw;
  }
  .name {
    font-size: 15vw;
    width: 78vw;
    height: 20vw;
    margin-top: 5%;
  }
  .rectangle1 {
    width: 30vw;
    height: 7vw;
    top: 50%;
    left: 15%;
  }
  .rectangle2 {
    width: 17vw;
    height: 11vw;
  }
  #block3 {
    display: grid;
    grid-template-columns: 41.5vw 46.6vw;
    grid-template-rows: 59vw 27vw;
    gap: 23px;
    justify-items: center;
  }
  .morph1 {
    width: 34vw;
    height: 48vw;
  }
  .textWrap {
    width: 26vw;
  }
  .text1 {
    font-size: 4vw;
  }
  .hand {
    width: 40%;
  }
  #block5 {
    display: grid;
    grid-template-columns: 46.5vw 21.5vw 18.2vw;
    grid-template-rows: 30vw 18.8vw;
    gap: 23px;
    justify-items: center;
  }
  .gifka {
    height: 44.7vw;
    width: 46.5vw;
  }
  .text2 {
    font-size: 4vw;
  }
  .calcBig1 {
    width: 37vw;
  }
  .calcContainer {
    width: 37vw;
    height: 13vw;
  }
  .aim {
    width: 12.8vw;
    height: 24vw;
  }
  .text4 {
    font-size: 4vw;
  }
  .button {
    height: 3.4vw;
    width: 13.4vw;
  }
  .glyphs2 {
    height: 19vw;
    width: 124vw;
  }
  .circle1 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .circle2 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .circle3 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .circle4 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .BigSquare4 {
    grid-area: 1 /1 / 3 / 2;
    height: 100%;
    width: 100%;
  }
  .square7 {
    grid-area: 1 /2 / 2 / 2;
    height: 100%;
    width: 100%;
  }
  .square8 {
    grid-area: 1 /3 / 1 /3;
    height: 100%;
    width: 100%;
  }
  .square9 {
    grid-area: 2 /2 / 3 /4;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1280px) {
  #block1 {
    display: grid;
    grid-template-columns: 50.47vw 13.75vw 22.18vw;
    grid-template-rows: 37.66vw 18.23vw;
    gap: 23px;
    justify-items: center;
  }
  #block1 {
    max-width: 1152px;
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .block2 {
    max-width: 1152px;
  }
  .whiteSquare {
    grid-area: 2 / 2 / 1 / 4;
  }
  .flower {
    width: 24.77vw;
    height: 24.3vw;
  }
  .square1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .glyphRow {
    width: 4.92vw;
    height: 33.438vw;
  }
  .square2 {
    grid-area: 3 /3 / 2 / 3;
  }
  .planet {
    width: 14.3vw;
    height: 13.828vw;
  }
  #block2 {
    width: 90vw;
    height: 27vw;
  }
  .name {
    font-size: 15vw;
    width: 78vw;
    height: 20vw;
    margin-top: 5%;
  }
  .rectangle1 {
    width: 30vw;
    height: 7vw;
    top: 50%;
    left: 15%;
  }
  .rectangle2 {
    width: 17vw;
    height: 11vw;
  }
  #block3 {
    display: grid;
    grid-template-columns: 41.5vw 46.6vw;
    grid-template-rows: 59vw 27vw;
    gap: 23px;
    justify-items: center;
  }
  .square3 {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }
  .textWrap {
    width: 26vw;
  }
  .text1 {
    font-size: 4vw;
  }
  .morph1 {
    width: 34vw;
    height: 48vw;
  }
  .square4 {
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / 2 / 1;
  }
  .calcContainer {
    width: 37vw;
    height: 13vw;
  }
  .calcBig1 {
    width: 37vw;
  }
  .calcPart1 {
    width: 23vw;
  }
  .calcPart4 {
    width: 10vw;
  }
  .text1 {
    font-size: 4vw;
  }
  .text2 {
    font-size: 4vw;
  }
  .square5 {
    position: relative;
  }
  .hand {
    width: 40%;
  }
  .glyph2 {
    width: 100%;
    height: 100%;
  }
  #block4 {
    width: 90vw;
    height: 26vw;
  }
  .text3 {
    font-size: 4vw;
  }
  #block5 {
    display: grid;
    grid-template-columns: 46.5vw 21.5vw 18.2vw;
    grid-template-rows: 30vw 18.8vw;
    gap: 23px;
    justify-items: center;
  }
  .BigSquare4 {
    grid-area: 1 /1 / 3 / 2;
    height: 100%;
    width: 100%;
  }
  .gifka {
    height: 44.7vw;
    width: 46.5vw;
  }
  .glyphs2 {
    height: 19vw;
    width: 124vw;
  }
  .hand {
    width: 80%;
  }
  .square7 {
    grid-area: 1 /2 / 2 / 2;
    height: 100%;
    width: 100%;
  }
  .textWrap5 {
    height: 16.7vw;
    width: 18vw;
  }
  .text4 {
    font-size: 4vw;
  }
  .square8 {
    grid-area: 1 /3 / 1 /3;
    height: 100%;
    width: 100%;
  }
  .aim {
    width: 12.8vw;
    height: 24vw;
  }
  .button {
    height: 3.4vw;
    width: 13.4vw;
  }
  .square9 {
    grid-area: 2 /2 / 3 /4;
    height: 100%;
    width: 100%;
  }
  #block6 {
    width: 91vw;
    height: 15.6vw;
  }
  .row2 {
    height: 4vw;
    width: 60vw;
  }
  .HSElogo {
    height: 8vw;
    width: 19.3vw;
    right: 5%;
  }
  .circle1 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .circle2 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .circle3 {
    height: 9.2vw;
    width: 8.4vw;
  }
  .circle4 {
    height: 9.2vw;
    width: 8.4vw;
  }
}

@media (max-width: 768px) {
  body {
    gap: 12px;
  }
  #block1 {
    display: grid;
    grid-template-columns: 33vw 53vw;
    grid-template-rows: 90vw 90vw 45vw;
    gap: 12px;
    justify-items: center;
  }
  .BigSquare1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .glyph1 {
    width: 100%;
    height: 100%;
  }
  .moon {
    width: 60.41vw;
    height: 65vw;
  }
  .whiteSquare {
    grid-area: 2 / 1/ 2 / 3;
  }
  .flower {
    width: 59vw;
    height: 58vw;
  }
  .square1 {
    grid-area: 3 / 1 / 3 / 1;
  }
  .glyphRow {
    width: 11vw;
    height: 80vw;
  }
  .square2 {
    grid-area: 3 /2 / 3 / 2;
  }
  .planet {
    width: 34.37vw;
    height: 33.3vw;
  }
  #block3 {
    display: grid;
    grid-template-columns: 91vw;
    grid-template-rows: 175vw 131.5vw 61.2vw;
    gap: 12px;
    justify-items: center;
  }
  .square3 {
    grid-area: 2 /1 / 2 / 1;
  }
  .hand {
    width: 80%;
  }
  .textWrap {
    width: 49.8vw;
  }
  .text1 {
    font-size: 8vw;
  }
  .morph1 {
    width: 75.5vw;
    height: 105.8vw;
  }
  .square4 {
    grid-area: 3 /1 / 3 / 1;
  }
  .calcBig1 {
    width: 73vw;
  }
  .text2 {
    font-size: 8vw;
  }
  .calcContainer {
    width: 73vw;
    height: 25.7vw;
  }
  .square5 {
    grid-area: 1 /1 / 1 / 1;
  }
  #block5 {
    display: grid;
    grid-template-columns: 48vw 40vw;
    grid-template-rows: 92vw 66vw 41vw;
    gap: 12px;
    justify-items: center;
    max-width: 1152px;
  }
  .BigSquare4 {
    grid-area: 1 /1 / 2 / 3;
    height: 100%;
    width: 100%;
  }
  .gifka {
    height: 97.6vw;
    width: 97.6vw;
  }
  .glyphs2 {
    height: 43vw;
    width: 291vw;
  }
  .square7 {
    grid-area: 2 /1 / 2 / 2;
    height: 100%;
    width: 100%;
  }
  .textWrap5 {
    height: 16.7vw;
    width: 18vw;
  }
  .text4 {
    text-align: center;
    font-size: 9vw;
  }
  .aim {
    width: 24.8vw;
    height: 46.6vw;
  }
  .button {
    height: 7.5vw;
    width: 29.6vw;
  }
  .square8 {
    grid-area: 2 /2 / 2 /2;
    height: 100%;
    width: 100%;
  }
  .circle1 {
    height: 18.6vw;
    width: 20.3vw;
  }
  .circle2 {
    height: 18.6vw;
    width: 20.3vw;
  }
  .circle3 {
    height: 18.6vw;
    width: 20.3vw;
  }
  .circle4 {
    height: 18.6vw;
    width: 20.3vw;
  }
  .square9 {
    grid-area: 3 /1 / 3 /3;
    height: 100%;
    width: 100%;
    gap: 8px;
  }
  #block6 {
    gap: 32.5vw;
  }
  .row2 {
    height: 4vw;
    width: 40vw;
  }
  .text6 {
    font-size: clamp(12px, 2vw, 24px);
  }
  .HSElogo {
    position: relative;
    min-height: 72px;
    min-width: 79px;
    height: 12vw;
    width: 5vw;
  }
}
@media (max-width: 414px) {
  .moon {
    width: 60.41vw;
    height: 65vw;
  }
  .button {
    height: 7.5vw;
    width: 29.8vw;
  }
  .text4 {
    font-size: vw;
  }
  .text5 {
    font-size: 4vw;
  }
  .button {
    height: 7.5vw;
    width: 29.8vw;
  }
  #block6 {
    gap: 12.5vw;
  }
  .text6 {
    font-size: clamp(10px, 2vw, 24px);
  }
  .row2 {
    height: 4vw;
    width: 60vw;
  }
}
