* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #e0e0e0, #b4b4b4);
  /* background-color: #b3b3b3; */
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 23px;
  padding-top: 42px;
}
#block1 {
  position: relative;
}

.BigSquare1 {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.glyph1 {
  position: relative;
}
.moon {
  position: absolute;
  width: 33.59vw;
  height: 36vw;
  top: 16%;
  left: 18%;
}
.whiteSquare {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.flower {
  position: relative;
  display: flex;
  width: 317px;
  height: 311px;
}
.square1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f2622e, #f57b30);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.glyphRow {
  width: 63px;
  height: 428px;
  flex-shrink: 0;
}
.glyphRow-track {
  display: flex;
  flex-direction: column;
}
.square2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: white;
}
.planet {
  width: 183px;
  height: 177px;
}

#block2 {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 1152px;
  height: 355px;
  background-color: white;
  border-radius: 30px;
}
.name {
  text-align: center;
  position: absolute;
  justify-content: center;
  font-family: "Aukera Cyrillic";
  font-size: 220px;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin-top: 50px;
}
.rectangle1 {
  background: #f57b30d4;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow: inset 0 0 3px #fff, inset 0 0 20px #fff;
  opacity: 1;
  mix-blend-mode: overlay;
  border-radius: 30px;
  position: absolute;
  width: 395px;
  height: 88px;
  top: 65%;
  left: 15%;
}
.rectangle2 {
  background: #f57b30d4;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow: inset 0 0 3px #fff, inset 0 0 20px #fff;
  opacity: 1;
  mix-blend-mode: overlay;
  border-radius: 30px;
  position: absolute;
  width: 226px;
  height: 152px;
  top: 20%;
  left: 70%;
}

#block3 {
  position: relative;
}
.BigSquare3 {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.square3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  background: linear-gradient(to bottom, #f2622e, #f57b30);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 2;
}
.textWrap {
  align-items: center;
  width: 329px;
}
.text1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Halvar Mittelschrift";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
}
.calcContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 476px;
  height: 170px;
}
.calcBig1 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 476px;
  height: 100%;
}
.calcPart1 {
  position: relative;
  background: linear-gradient(to right, #f2622e, #f57b30);
  border-radius: 30px;
  height: 100%;
  width: 296px;
}
.calcPart2 {
  position: relative;
  background: linear-gradient(to right, #f2622e, #f57b30);
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.calcPart3 {
  position: relative;
  background: linear-gradient(to right, #f2622e, #f57b30);
  border-radius: 30px;
  height: 100%;
  width: 130px;
}
.calcPart4 {
  position: relative;
  background: linear-gradient(to right, #f2622e, #f57b30);
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.text2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Halvar Mittelschrift";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: black;
}
.morph1 {
  position: relative;
  width: 437px;
  height: 613px;
}
.square4 {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25vw;
  width: 41.5vw;
  height: 27.6vw;
  border-radius: 30px;
}
.square5 {
  grid-column: 2;
  grid-row: 1 / span 2; /* Занимает с 1 строки, растягивается на 2 строки */
  height: 100%; /* Важно! */
  display: flex;
  align-items: center;
  justify-content: center;
}

.glyph2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}
.hand {
  position: absolute;
  width: 80%;
  top: 2%;
  z-index: 1;
}
#block4 {
  overflow: hidden;
  width: 90vw;
  height: 25vw;
  z-index: 2;
}
.square6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f2622e, #f57b30);
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.textWrap4 {
  position: relative;
  width: 25vw;
  height: 5.4vw;
  top: -35%;
  left: -30%;
  z-index: 2;
  text-align: left;
}
.text3 {
  text-transform: uppercase;
  text-align: left;
  font-family: "Halvar Mittelschrift";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
}
.man {
  top: -70%;
  left: 30%;
  position: absolute;
  z-index: 1;
  width: 41vw;
  height: 70vw;
}
.morph2 {
  position: absolute;
  width: 95%;
  height: 95%;
  z-index: 0;
}
#block5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BigSquare4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to top, #f2622e, #f57b30);
  border-radius: 30px;
  height: 100%;
  width: 596px;
}
.gifka {
  height: 573px;
  width: 595px;
}
.glyphs2 {
  position: relative;
  flex-shrink: 0;
  height: 244px;
  width: 1589px;
}
.glyphscontainer {
  display: flex;
  position: absolute;
  height: 19vw;
  width: 100%;
  white-space: nowrap;
}
.glyphs-track {
  gap: 1vw;
  display: flex;
  width: max-content;
}
.BigSquare5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 23px;
}
.row {
  height: 384px;
  width: 533px;
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.square7 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  height: 100%;
  width: 276px;
  background-color: #fff;
  border-radius: 30px;
}
.button {
  background: linear-gradient(to right, #f2622e, #f57b30);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 172px;
  border-radius: 30px;
}
.textWrap5 {
  height: 214px;
  width: 231px;
}
.text4 {
  text-align: center;
  font-family: "Aukera Cyrillic";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}
.text5 {
  text-transform: uppercase;
  font-family: "Halvar Mittelschrift";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}
.square8 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 234px;
  background: linear-gradient(to top, #f2622e, #f57b30);
  border-radius: 30px;
}
.square8-hover-img {
  position: absolute;
}
.square9 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.8vw;
  height: 241px;
  width: 533px;
  background-color: #fff;
  border-radius: 30px;
}
.circle1 {
  position: relative;
  height: 118px;
  width: 108px;
  transform: rotate(0deg);
}
.circle2 {
  position: relative;
  height: 118px;
  width: 108px;
  transform: rotate(180deg);
}
.circle3 {
  position: relative;
  height: 118px;
  width: 118px;
  transform: rotate(270deg);
}
.circle4 {
  position: relative;
  height: 118px;
  width: 118px;
  transform: rotate(90deg);
}
#block6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20.7vw;
  background-color: #fff;
  height: 15.6vw;
  width: 88.8vw;
  border-radius: 30px;
}
.row2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  height: 4vw;
  width: 36.3vw;
  left: 5%;
}
.text6 {
  text-transform: uppercase;
  font-family: "Halvar Mittelschrift";
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150.6%;
}
.HSElogo {
  position: relative;
  height: 7.8vw;
  width: 19.3vw;
}
